<!DOCTYPE html>
<html lang="en">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="../../assets/ico/favicon.png">

        <title>Photography - Contact</title>

        <!-- Bootstrap core CSS -->

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href="dist/css/jasny-bootstrap.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="css/navmenu-reveal.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/full-slider.css" rel="stylesheet">


        <!-- Google Map Api -->
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <script>
            function initialize() {
                var mapCanvas = document.getElementById('map-canvas');
                var mapOptions = {
                    center: new google.maps.LatLng(24.909439, 91.833800),
                    zoom: 16,
                    scrollwheel: false,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                }
                var map = new google.maps.Map(mapCanvas, mapOptions)

                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(24.909439, 91.833800),
                    title:"Mamma's Kitchen Restaurant"
                });

                // To add the marker to the map, call setMap();
                marker.setMap(map);
            }
            google.maps.event.addDomListener(window, 'load', initialize);
        </script>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body class="contact-page">
        <div class="bar">
            <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas=".canvas">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navmenu navmenu-default navmenu-fixed-left">
            <ul class="nav navmenu-nav">
                <li><a href="index.html">Home</a></li>
                <li><a href="/navigation">Works</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="/admin/addphotos">Blog</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        <a class="navmenu-brand" href="#"><img src="img/nlogo.jpg" width="160"></a>
        <a class="navmenu-brand" href="#"><img src="img/nlogo1.jpg" width="160"></a>
            <div class="social">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-skype"></i></a>
            </div>
        </div>


        <div class="canvas contact-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="contact-bg col-md-8 col-sm-12">
                        <img src="img/dolon.jpg" alt="" width="100%">
                    </div>
                    <div class="col-md-4 col-sm-12 contact-bar">
                        <div id="map-canvas"></div>
                        <h3 class="interest-text text-center"> Thanks for your Interest </h3>
                        <br>
                        <div class="row">
                            <div class="col-md-6 add-text">
                                44, Akhaliya Rd. Akhaliya
                                CA 94019. USA CO.
                                (561) 456-4567
                            </div>
                            <div class="col-md-6 add-text">
                                Summer Office Ours
                                (March-October)
                                Mon-Fri (am-6am PST)
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <form action="contact-form.php" id="contactForm" method="post" name="contactform" class="" role="form">
                                    <div class="form-group">
                                        <input  name="name" type="text" class="form-control" id="name" required="required" placeholder="Full Name">
                                    </div>

                                    <div class="form-group">
                                        <input name="email" type="email" class="form-control" id="email" required="required" placeholder="Email Address">
                                    </div>

                                    <div class="form-group">
                                        <textarea class="form-control form-control-white" id="message" name="massage" rows="5" placeholder="Your Message" required></textarea>
                                    </div>
                                    <div id="contactFormResponse"></div>
                                    <div class="form-group">
                                        <input id="cfsubmit" type="submit" class="btn btn-primary" value="Say Hello">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="dist/js/jasny-bootstrap.min.js"></script>
        <script type="text/javascript" src="js/contact.js"></script>

    </body>
</html>
