<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
  </head>
  <body>
  <div class="container">
    <div class="row">
      <div class="col-md-6"><img class="img-responsive" src="img/Ivan_Lagace_thumb.jpg" alt="Photo of Site Owner"></div>
      <div class="col-md-6">
        <h1 class="text-right text-uppercase">Ivan Lagace</h1>
        <h3 class="text-right">Inspired Programming</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img class="img-responsive" src="img/Programming-Code-l.jpg" alt="Programming Code Picture">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>Featured Work</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <a href="/app/website"><img class="img-responsive" src="img/WebSite.jpg"></a>
        <h3>Personal Photo/Video Site</h3>
        <p><a href="http://github.com">Link to project</a></p>
      </div>
      <div class="col-md-6">
        <a href="/app/comics"><img class="img-responsive" src="img/Comics.jpg"></a>
        <h3>Make your own comic page</h3>
        <p><a href="http://github.com">Link to project</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <a href="/app/calendarH67"><img class="img-responsive" src="img/tennis.jpg"></a>
        <h3>Tennis Appointment Application</h3>
        <p><a href="http://github.com">Link to project</a></p>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Appify</h4>
      </div>
      <div class="modal-body">
        <img src="http://placehold.it/555x300">"
                        My first model exercise
                        "
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</body></html>
